<html>
<head>
    <title>$i18n.getText("com.jira.plugins.starter.settings.title")</title>
    <meta name="decorator" content="atl.admin"/>
    $webResourceManager.requireResource( "com.jira.plugins.jira-plugin-starter:entrypoint-settings-app" )
</head>
<body>
<div id="starter-settings-container">
    <span><aui-spinner size="medium"></aui-spinner> Loading...</span>
</div>
</body>
</html>
